.git
.gitignore
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.coverage
htmlcov/
dist/
build/
downloads/
exports/
.debug/
.streamlit/*.sqlite3
docker-data/
.env
.vscode/
.idea/
